<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <p>
      Bonjour dealerFirstName dealerLastName,
    </p>
    <p>
      Nous vous informons qu'une nouvelle commande a été passée sur notre site d’accessoire en ligne skoda pour le KVPS FRAC02469 et est désormais prête à être traitée par votre équipe.
    </p>
    <p>
      Nous vous invitons à aller consulter votre onglet Gestion des commandes du Back Office RA accessible depuis votre compte Extranet VGF via le lien suivant : <a href='https://www.backoffice-accessoires.com'>https://www.backoffice-accessoires.com</a>.
    </p>
    <p>
      Afin de garantir la satisfaction client, nous comptons sur votre réactivité pour traiter cette commande dans les meilleurs délais.
    </p>
    <p>
      Nous vous remercions pour votre engagement continu et votre coopération pour offrir une expérience client exceptionnelle.
    </p>
    <p>
      Cordialement,
    </p>
    <p>
      L'équipe accessoires GBS
    </p>
  </body>
</html>
