<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
    </style>
  </head>
  <body>
    <div style="max-width: 600px; margin: 0 auto;">
    {{> headBand }}
      <div style= 'font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        font-family: VW Text, Arial;
        margin-bottom: 32px
        '>
        <h2>
          <center>Votre commande est disponible !</center>
        </h2>
        <p>Bonjour {{ orderDetails.customer.firstName }},</p>
        <p>Votre commande est prête à être retirée auprès de votre partenaire agréé. Pensez à vérifier les jours et heures d'ouverture de votre partenaire agréé.
        </p>
      </div>
      <hr style="color: #DFE4E8" />
      {{> dealerMap }}
      <div style="clear: both;" />
      {{> footer }}
    </div>
  </body>
</html>
